// VARIABLES
// COLORS
@background-color: #B3805A;
@main-sidebar-background-color: #FFF;
@main-header-background-color: rgba(0, 0, 0, .2);
@border-color: #EEE;
@color-link: #29f;
// SIZES
@header-height: 60px;
@main-sidebar-width: 260px;
//
body {
  font-family: 'Ubuntu', sans-serif;
  background: @background-color url('../img/bg-wood.jpg') center top fixed;
  color: #444;
}
input {
  border-radius: 0 !important;
}
h1 {
  font-weight: 300;
  letter-spacing: -0.05em;
}
//
.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  width: @header-height;
  height: @header-height;
  line-height: @header-height;
  font-size: 18px;
  color: rgba(255, 255, 255, .5);
  opacity: 0;
  -webkit-transition: color .2s, opacity .2s .3s;
  -ms-transition: color .2s, opacity .2s .3s;
  transition: color .2s, opacity .2s .3s;
}
.hidden-sidebar .btn-menu {
  opacity: 1;
}
.btn-menu:hover {
  color: #FFF
}
.main-header {
  top: 0;
  right: 0;
  height: @header-height;
  line-height: @header-height;
}
//
.main-sidebar {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  width: @main-sidebar-width;
  background-color: @main-sidebar-background-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .8), inset 0 -1px 1px rgba(255, 255, 255, .3);
  -webkit-transition: left .2s;
  -ms-transition: left .2s;
  transition: left .2s;
  .main-header {
    position: absolute;
    left: 0;
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      right: @header-height;
      display: block;
      height: @header-height;
      line-height: @header-height;
      padding: 0 20px;
    }
    .btn-menu-close {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: @header-height;
      height: @header-height;
      line-height: @header-height;
      font-size: 18px;
      color: #BBB;
      -webkit-transition: color .2s;
      -ms-transition: color .2s;
      transition: color .2s;
    }
    .btn-menu-close:hover {
      color: #333;
    }
  }
  .main-sidebar-content {
    position: absolute;
    top: @header-height;
    bottom: @header-height;
    left: 0;
    right: 0;
    //overflow-x: hidden;
    //overflow-y: scroll;
    border-bottom: 1px solid @border-color;
  }
  .main-sidebar-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: @header-height;
    line-height: @header-height;
    padding: 0 13px;
    a {
      .fa {
        text-align: right;
        width: 18px;
        margin-right: 8px;
      }
    }
  }
}
.main-content {
  margin-top: @header-height;
  margin-left: @main-sidebar-width;
  -webkit-transition: margin-left .2s;
  -ms-transition: margin-left .2s;
  transition: margin-left .2s;
  .main-header {
    position: fixed;
    z-index: 98;
    right: 0;
    left: @main-sidebar-width;
    background-color: @main-header-background-color;
    color: #FFF;
    -webkit-transition: left .2s;
    -ms-transition: left .2s;
    transition: left .2s;
    h1 {
      padding-top: 9px;
      font-size: 28px;
      line-height: 28px;
    }
    h2 {
      padding-top: 3px;
      padding-left: 2px;
      font-size: 11px;
      line-height: 11px;
      opacity: .5;
    }
  }
}
.hidden-sidebar {
  .main-sidebar {
    left: -1 * @main-sidebar-width;
  }
  .main-content {
    margin-left: 0;
    .main-header {
      left: 0;
    }
  }
}
//
@list-collection-el-height: 36px;
#list-collection {
  padding-bottom: 25px;
  line-height: @list-collection-el-height;
  border-top: 1px solid @border-color;
  font-weight: 300;
  i,
  .title,
  .folder-info,
  .right-info .num,
  .right-info a {
    display: inline-block;
    vertical-align: middle;
    line-height: @list-collection-el-height;
  }
  .icon-in {
    width: 18px;
    text-align: right;
  }
  .right-info {
    font-size: 10px;
    text-align: right;
    font-weight: bold;
    position: relative;
    .num {
      color: #999;
      min-width: 45px;
    }
    a {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      opacity: 0;
    }
    & .num,
    & a {
      -webkit-transition: opacity .2s;
      -ms-transition: opacity .2s;
      transition: opacity .2s;
    }
  }
  .folder {
    border-bottom: 1px solid @border-color;
    .fa-folder-open-o {
      display: none;
    }
    .folder-header {
      padding: 0 15px;
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: background-color .2s;
      -ms-transition: background-color .2s;
      transition: background-color .2s;
      i {
        line-height: @list-collection-el-height;
      }
      .title {
        margin: 0 10px;
        overflow: hidden;
      }
      .title-edit {
        vertical-align: middle;
        display: none;
        width: 162px;
        input {
          display: block;
          font-size: 14px;
          line-height: 25px;
          height: 25px;
        }
      }
      .folder-info {
        float: right;
      }
      &:hover {
        background-color: fade(@color-link, 10%);
        .right-info {
          .num {
            opacity: 0;
          }
          a {
            opacity: 1;
          }
        }
      }
      &.editing {
        .title {
          display: none;
        }
        .title-edit {
          display: inline-block;
        }
        .right-info {
          display: none
        }
      }
    }
    .folder-content {
      position: relative;
      overflow: hidden;
      max-height: 0;
      -webkit-transition: max-height .2s;
      -ms-transition: max-height .2s;
      transition: max-height .2s;
      .list-item {
        position: relative;
        z-index: 10;
        padding: 0 15px 0 30px;
        cursor: pointer;
        -webkit-transition: background-color .2s;
        -ms-transition: background-color .2s;
        transition: background-color .2s;
        i {
          font-size: 12px;
          opacity: .5;
        }
        .title {
          margin: 0 10px;
          overflow: hidden;
        }
        .title-edit {
          vertical-align: middle;
          display: none;
          width: 152px;
          input {
            display: block;
            font-size: 14px;
            line-height: 25px;
            height: 25px;
          }
        }
        .list-item-info {
          float: right;
        }
        &:hover {
          background-color: fade(@color-link, 8%);
          .right-info {
            .num {
              opacity: 0;
            }
            a {
              opacity: 1;
            }
          }
        }
        &.current {
          background-color: fade(@color-link, 12%);
        }
        &.editing {
          .title {
            display: none;
          }
          .title-edit {
            display: inline-block;
          }
          .right-info {
            display: none
          }
        }
      }
      .folder-content-list {
        position: relative;
        z-index: 11;
        min-height: @list-collection-el-height;
      }
      .folder-add {
        padding: 0 0 0 30px;
        font-size: 12px;
        i {
          margin-right: 10px;
        }
      }
      .folder-drag-info {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        left: 0;
        opacity: .5;
        line-height: @list-collection-el-height;
        height: @list-collection-el-height;
        font-size: 12px;
        font-style: italic;
        padding: 0 0 0 39px;
      }
    }
  }
  .folder.open {
    .fa-folder-o {
      display: none;
    }
    .fa-folder-open-o {
      display: inline-block;
    }
    .folder-header {
      background-color: #fcfcfc;
    }
    .folder-content {
      max-height: 1600px;
    }
  }
}
.sortable-ghost {
  opacity: .2
}